/* color constants
 * text #78472e
 * border color #9e6737
 */


#content{
	margin-left: 33px;
	width: 930px;
	background : url(/media/img/papirus-center.jpg) repeat-y 0 0;
}
#content #papirus-top{
	width: 100%;
	overflow : hidden;
	margin-left:1px;
	background : url(/media/img/papirus-top.jpg) no-repeat 0 0;
}

#content #main-content{
	overflow : hidden;
	margin : 30px 30px 30px 37px;
}

.col{width: 275px; overflow: hidden; padding: 3px 0px 0px 15px;}
.right{float: right;}
.left{float: left;}
.full{width: 100%;}
.pointer{cursor:hand;}

#top{ padding-left: 20px;}

#body-col{
	width : 566px;
	padding: 3px;
	overflow : hidden;
}

.pageContent p{
	text-align: justify;
}

.pageContent img{
	display: block;
	margin : 0 auto;
	min-height : 50px;
	min-width : 50px;
}

#body-col ul{
	color: #6a6153;
	padding: 10px;
}
#body-col ul li{
	display:list-item;
	list-style: circle inside;
}
#body-col table{ margin-top: 15px;}

#left-col ul li img {	border: #9e6737 solid 2px;}

.info-block{ border: #9e6737 solid 2px; vertical-align: top; padding: 0.5em;}

#nomeri a#prev ,
#nomeri a#next { font-family: Impact; font-size: 32px; font-weight: bold; text-decoration: none; line-height: 15px;}


#price { padding-bottom: 10px; }
#price strong{ float: right; padding-right: 13px; } 
#price blockquote{border:2px solid  #9e6737; margin: 0px; padding: 5px; }
#akcii { border:2px solid  #9e6737;}


/* Номера */
.nomeri { padding: 15px;}
.nomeri > a {
	font-size: 42px;
	text-align: center;
	display:block;
	clear: both;
	text-decoration: none;
}
.nomeri img {padding-right: 20px;}
.nomeri p {padding-right:20px;}
