#contact-form,
#mesaj{
	padding : 0px;
	width : 642px;
	margin : 0 13px;
	margin-bottom : 15px;
}
#contact-form input.text,
#contact-form textarea,
#contact-form select,
#mesaj input.text,
#mesaj textarea,
#mesaj select{
	border : 1px solid #AD9E82;
	padding : 3px 2px;
	margin : 0;
	display: block;
	color : #484848;
	background : #fafafa;
	float : left;
	width : 200px;
	font :12px arial, sans-serif;
}
#contact-form label.default,
#mesaj  label.default{
	font-size : 12px;
	width : 90px;
	float : left;
	padding-right : 10px;
	text-align : right;
	height : 21px;
	line-height : 21px;
	color: #564C3C;
	font-weight: bold;
}
#contact-form select{
	width: 206px;
	height : 20px;
}
#contact-form textarea{
	width : 330px;
}
#contact-form #contact-btns-area{
	padding-left : 100px;
}
#contact-form #ro-btn-send-email,
#contact-form #en-btn-send-email{
	width: 117px;
	height : 12px;
	overflow : hidden;
	border : none;
	background : url(/media/img/btn_trimite_formularul.gif) no-repeat left top;
	cursor : pointer;
	float : left;
}
#contact-form #en-btn-send-email{
	background-image : url(/media/img/send_form.gif);
	width: 69px;
}
#mesaj #ro-btn-send,
#mesaj #en-btn-send{
	width: 97px;
	height : 12px;
	overflow : hidden;
	border : none;
	background : url(/media/img/btn_trimite_mesajul.gif) no-repeat left top;
	cursor : pointer;
	float : left;
}
#mesaj #en-btn-send{
	background-image : url(/media/img/send_message.gif);
	width : 84px;
}
#contact-form #ro-btn-send-email:hover,
#contact-form #ro-btn-send-email:hover
#mesaj #en-btn-send:hover,
#mesaj #ro-btn-send:hover{
-moz-opacity: .85;
opacity: .85;
filter:alpha(opacity=85);
}
/***/
#mesaj input.text,
#mesaj textarea,
#mesaj select{
	width : 320px;
}
#mesaj label.default{
	width: 85px;
}
#mesaj #mesaj-btns-area{
	padding-left: 95px;
}