/* color constants
 * text #78472e
 * border color #9e6737
 */


#content{
	margin-left: 33px;
	width: 930px;
	background : url(/media/img/papirus-center.jpg) repeat-y 0 0;
}
#content #papirus-top{
	width: 100%;
	overflow : hidden;
	margin-left:1px;
	background : url(/media/img/papirus-top.jpg) no-repeat 0 0;
}

#content #main-content{
	overflow : hidden;
	margin : 30px 30px 30px 37px;
}

.col{width: 275px; overflow: hidden; padding: 3px 0px 0px 15px;}
.right{float: right;}
.left{float: left;}
.full{width: 100%;}
.pointer{cursor:hand;}

#top{}

#body-col{
	width : 566px;
	padding: 3px;
	overflow : hidden;
}

.pageContent p{
	text-align: justify;
}

.pageContent img{
	display: block;
	margin : 0 auto;
	min-height : 50px;
	min-width : 50px;
}

#body-col ul{
	color: #6a6153;
	padding: 10px;
}
#body-col ul li{
	display:list-item;
	list-style: circle inside;
}
#body-col table{ margin-top: 15px;}

.col h2{ clear: both; }

.col a{ text-decoration: none; }

h1{	font-size: 42px; }
h2{	text-align: center; padding-bottom: 10px; }

#left-col ul li img {	border: #9e6737 solid 2px;}

