#header{
	width: 980px;
	background : url(media/img/preloader1.gif) no-repeat 50% 60%;
	overflow : hidden;
	position : relative;
	height : 181px;
}
#header img{
	display : block;
	border: none;
}
#header a#logo{
	width: 282px;
	height : 107px;
	background : url(media/img/logo.png) no-repeat;
	display: block;
	text-indent : -9999px;
	overflow : hidden;
	position : absolute;
	left : 38px;
	top : 44px;
}
/* LANG */
a.lang{
	position : absolute;
	width: 35px;
	height : 52px;
	overflow : hidden;
	display : block;
	text-indent : -9999px;
	top : 6px;
	background-position: right 0;
	background-repeat : no-repeat 
}
a.lang:hover{
	border-bottom : 3px solid #222;
}
#ro{
	right : 31px;
	background-image : url(media/img/ro.jpg);
}
#en{
	right : 67px;
	background-image : url(media/img/en.jpg);
}
/* MENU */
#menu{
	height: 42px;
	width : 980px;
	overflow : hidden;
	background : url(media/img/menu_dec_left.jpg) no-repeat left;
}
#menu ul{
	height: 42px;
	width : 951px;
	padding-left : 29px;
	overflow : hidden;
	background : url(media/img/menu_dec_right.jpg) no-repeat right;
}
#menu ul li{
	float: left;
	height : 42px;
	overflow : hidden;
}
#menu ul li a{
	background-position : 0 0;
	background-repeat : no-repeat;
	height : 42px;
	overflow : hidden;
	text-indent : -9999px; 
	display : block;
}
#menu ul li a:hover{
	background-position : 0 -42px;
}
#menu ul li a.crt,
#menu ul li a.crt:hover{
	background-position : 0 -84px;
	cursor : default;
}
