#header{
	width: 980px;
	background : url(/media/img/preloader1.gif) no-repeat 50% 60%;
	overflow : hidden;
	position : relative;
	height : 181px;
}
#header img{
	display : block;
	border: none;
}
#header a#logo{
	width: 282px;
	height : 107px;
	background : url(/media/img/logo.png) no-repeat;
	display: block;
	text-indent : -9999px;
	overflow : hidden;
	position : absolute;
	left : 38px;
	top : 44px;
}
/* LANG */

a.lang{
	position : absolute;
	overflow : hidden;
	top : 6px;
	width: 64px;
	display: block;
	padding-top: 64px;
	margin: 0px; 
	text-align: center;
	background-position: top right;
	background-repeat : no-repeat;
	color: #FFF;
	font-size: 1.3em;
	text-shadow: #000 1px 1px 1px;
}
a.lang:hover{
	border-bottom : 3px solid #222;
}
#uk{
	right: 198px;
	background-image : url(/media/img/uk.png);
}
#ru{
	right: 134px;
	background-image : url(/media/img/ru.png);
}
#en{
	right: 70px;
	background-image : url(/media/img/en.png);
}
#hu{
	right: 6px;
	background-image : url(/media/img/hu.png);
}


/* MENU */
#menu{
	height: 42px;
	width : 980px;
	overflow : hidden;
	background : url(/media/img/menu_dec_left.jpg) no-repeat left;
}
#menu ul{
	height: 42px;
	width : 951px;
	padding-left : 29px;
	overflow : hidden;
	background : url(/media/img/menu_dec_right.jpg) no-repeat right;
}
#menu ul li{
	float: left;
	height : 42px;
	overflow : hidden;
}
#menu ul li a{
	background-position : 0 0;
	background-repeat : no-repeat;
	height : 42px;
	overflow : hidden;
	text-indent : -9999px; 
	display : block;
}
#menu ul li a:hover{
	background-position : 0 -42px;
}
#menu ul li a.crt,
#menu ul li a.crt:hover{
	background-position : 0 -84px;
	cursor : default;
}
