/* color constants
 * text #78472e
 * border color #9e6737
 */

/* HEADER */

#header{
	width: 980px;
	background : url(/media/img/preloader1.gif) no-repeat 50% 60%;
	overflow : hidden;
	position : relative;
	height : 170px;
}
#header img{ display : block; border: none; }
#header a#logo{
	width: 800px;
	height : 165px;
	/*background : url(/media/img/logo.png) no-repeat;*/
	display: block;
	text-indent : -9999px;
	overflow : hidden;
	position : absolute;
	left: 50px;
	top: 4px;
}

#top-block{	height:147px; overflow:hidden;}

/* LANG */
#languages {
	float: right;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 20px;
	width: 152px;
}

a.lang{
	float: right;
	overflow: hidden;
	width: 38px;
/*	padding: 0 4px;*/
	display: block;
	padding-top: 28px;
	margin: 0px; 
	text-align: center;
	background-position: 50% 0%;
	background-repeat : no-repeat;
	color: #FFFFFF;
	font-size: 14px;
	text-shadow: #000 1px 1px 1px;
}
a.lang:hover{ font-weight: bolder; }

#uk{ background-image : url(/media/img/uk.png); }
#ru{ background-image : url(/media/img/ru.png); }
#en{ background-image : url(/media/img/en.png); }
#hu{ background-image : url(/media/img/hu.png); }


/* MENU */
#menu{
	height: 72px;
	width: 480px;
	height: 42px;
	padding-left: 300px;
	padding-top: 30px;
	float: left;
	/*overflow : hidden;*/
}
#menu ul{
	height: 42px;
	width : 500px;
	overflow : hidden;
	background : url(/media/img/menu_dec_right.jpg) no-repeat top right;
}
#menu ul li{
	float: left;
	height : 42px;
	overflow : hidden;
	padding-left: 8px;
	/*background : url(/media/img/menu-left.png) no-repeat top left;*/
}

#menu ul li+li{
	float: left;
	height : 42px;
	overflow : hidden;
	padding-left: 10px;
	margin-left: 3px;
	background : url(/media/img/bullet.png) no-repeat 0px 15px;
}

#menu ul li a{
	height : 42px;
	/*background : url(/media/img/menu-right.png) no-repeat top right;*/
	display : block;
	font-family: "mukachev", Garamond;
	font-size: 27px;
	font-weight: bold;
	color: #78472e;
	text-shadow: #EEE 1px 1px 1px;
	text-decoration: none;
}

/*
#menu ul li.selected:hover{
	margin-top: 0px;
}
*/
#menu ul li.selected a{
	cursor : default;
	background-position : right -84px;
}

#subblock{
	margin: 0px 30px 0px 29px;
	padding-left: 250px;
	color:  #78472e;
}
#subblock a{color: #78472e;}

/**********breadcrumb***********/
#breadcrumb ul{	overflow: hidden;}
#breadcrumb > ul > li{
	float: left;
	padding-right: 3px;
	font-size: 14px;
	font-weight: bold;
}
#breadcrumb ul li a{
	float: left;
	padding-right: 3px;
	font-size: 14px;
	color: #A7613F;
}

/*********submenu***********/
#submenu {
	margin: 0px 30px 0px 29px;
	overflow : hidden;
	background-color: #980607;
}
#submenu ul {
	overflow : hidden;
	padding: 0px 9px;
}
#submenu ul li{
	float: left;
	padding-right: 1em;
}
#submenu ul li a{
	color: white;
	text-shadow: black 1px 1px 1px;
	padding: 3px 0px;
}
#breadcrumb{
	padding-left: 50px;
}

#breadcrumb h1{
	font-size: 1.5em;
}
