/* color constants
 * text #78472e
 * border color #9e6737
 */

body, html{
	margin: 0;
	padding: 0;
}

html{
	background: #bceffc;
}

body{
	color: #78472e;
	background: url(/media/img/top-bg-sky-papirus.jpg) repeat-x top center ;
	font-size: 14px;
	font-family: arial, 'PF Agora Slab Pro', Cambria, Georgia, sans-serif;
	min-width:1000px;

}

a{
	text-decoration : underline;
	color: #7f5026;
}

a img{
	border : none;
}

a:hover{
	text-decoration : none;
	color: #7f5026;
}

ul,ol,dl,li,dd,dt{
	line-height : normal;
	list-style : none;
	margin : 0;
	padding : 0;
}

h1,h2,h3,h4,h5,h6{
	display : block;
	font-size : 14px;
	font-weight : bold;
	line-height : normal;
	margin : 0;
	padding : 0;
}

h2{
	font-size: 1.8em;
}

h1{
	font-size: 2em;
	text-align: center;
}
h3{
	font-size: 1.4em;
}



img{
	border : none;
	margin : 0;
	padding : 0;
}

p{
	margin : 3px 0 3px 0;
	padding : 0;
	text-align : justify;
}