<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load cms_tags cache %}
<head>
	<title>{% block title %}{% page_attribute title %}{% endblock %}</title>
	<meta name="description" content="{% page_attribute meta_description %}"/>
	<meta name="keywords" content="{% page_attribute meta_keywords %}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrapper">
	<!-- s:HEADER -->
	<div id="header">
		<!-- s:HEADER IMAGE -->
		<img src="{{ MEDIA_URL }}img/header.jpg" alt="" />
		<!-- e:HEADER IMAGE -->
		<!-- s:LOGO -->
		<a id="logo" href="/" title="*** +++">Готель Паланок</a>
		<!-- e:LOGO -->
		{% language_chooser %}
	</div>
	
	<div id="menu">
	  <ul>
		{% show_menu 0 0 0 0 %}
	  </ul>
	</div>
	<div id="submenu">
	  <ul>
		{% show_menu 1 1 0 100 %}
	  </ul>
	</div>

	<div id="content">
		<div id="papirus-top">
			<div id="breadcrumb">
				<ul class="breadcrumb">
					{#% show_breadcrumb %#}
				</ul>
				<h1>{% page_attribute title %}</h1>

			</div>
			<div id="main-content">
				{% block content %}
					<div id="left-col" class="left col"> 
							{% placeholder side-column %}
					</div> 

					<div id="body-col" class="body right"> 
							<h3>Title {% page_attribute title %}</h3>
							<div class="spacer10"></div>
							<div class="pageContent">
								{% placeholder body %}
							</div>
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<!-- e:MID CONTENT -->
	<!-- s:FOOTER -->
	<div id="footer">
		<a id="footer-logo" href="/" title="Hotel Palanok Mukachevo">Готель Паланок Мукачево</a>
		<div id="footer-menu">
			<ul>{% show_menu 0 0 0 0 %}</ul>
		</div>

		<div id="copyright">Copyright &copy; Готель Паланок. Розробка сайту <a id="sona" href="http://www.sona-studio.org.ua/" title="Sona web-Studio">Sona web-Studio</a></div>
		
	</div>
	<!-- e:FOOTER -->
</div>
<!-- e:WRAPPER -->
</body>
</html>
