<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load cms_tags cache %}
<head>
	<title>{% block title %}{% page_attribute title %}{% endblock %}</title>
	<meta name="description" content="{% page_attribute meta_description %}"/>
	<meta name="keywords" content="{% page_attribute meta_keywords %}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css" />
	{% block header %}
		<link type="text/css" href="/media/css/pica.css" rel="stylesheet" />
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="/media/js/pikachoose-min.js"></script>
		<script language="javascript">
			$(document).ready(
				function (){
/*
									$(".pikachoose ul").PikaChoose({user_thumbs:true, show_prev_next:false});
				*/
					$(".pikachoose ul").PikaChoose({delay_caption:false, 
							auto_play:true,
							thumb_width: 90,
							thumb_height: 98,
							show_captions: false,
							show_prev_next: false,
							slide_speed: 10000
						});
				});
		</script>

	{% endblock header %}
</head>
<body>

<div id="wrapper">
	<div id="header">
		<a id="logo" href="/" title="Palanok — hotel restaurant in Mukachevo">Palanok Hotel in Mukachevo. &lquote;Паланок&rquote; Готель в Мукачево. hotelpalanok.com</a> 
	</div>
	
	<div id="menu">
	  <ul>
		{% show_menu 0 0 0 0 %}
	  </ul>
	</div>

	<div id="languages">
		{% language_chooser %}
	</div>
	<div style="clear:both;"></div>
	<div id="subblock">
		<div id="submenu">
		  <ul>
			{% show_menu 1 1 0 100 %}
		  </ul>
		</div>
		
		<div id="breadcrumb">
			<ul class="breadcrumb">
				{#% show_breadcrumb %#}
			</ul>
			<h1>{% page_attribute title %}</h1>
		</div>
	</div>

	<div id="content">
		<div id="papirus-top">
			<div id="main-content">
				{% block content %}
					<div id="top" class="full">
							{% placeholder top %}
					</div> 


					<div id="left-col" class="left col"> 
							{% placeholder side-column %}
					</div> 

					<div id="body-col" class="body right"> 
							<div class="pageContent">
								{% placeholder body %}
							</div>
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<!-- e:MID CONTENT -->
	<!-- s:FOOTER -->
	<div id="footer">
		<a id="footer-logo" href="/" title="Hotel Palanok Mukachevo">Готель Паланок Мукачево</a>
		<div id="footer-menu">
			<ul>{% show_menu 0 100 100 100 %}</ul>
		</div>

		<div id="copyright">Copyright &copy; Готель Паланок. Розробка сайту <a id="sona" href="http://www.sona-studio.org.ua/" title="Sona web-Studio">Sona web-Studio</a></div>
		
	</div>
	<!-- e:FOOTER -->
</div>
<!-- e:WRAPPER -->
</body>
</html>
