{% extends "base.html" %}
{% load cms_tags %}

{% block header %}
{{ block.super }}
		<script language="javascript">
				$(document).ready(
				function (){
					// Gallery images with thumbnails
					$("#body-col .photo-gallery > ul").PikaChoose({delay_caption:false, 
							auto_play: true,
							thumb_width: 90,
							thumb_height: 98,
							show_captions: false,
							show_prev_next: false,
							slide_speed: 10000
						});
					
					// imagebox
					$("#left-col #nomeri .photo-gallery ul")
					.after('<a id="prev" href="#"> &larr;</a><a id="next" class="right" href="#"> &rarr;</a>')
					.cycle({ 
    						fx:     'fade', 
    						speed:  'fast', 
    						timeout: 0,
							//next: '#left-col #nomeri .photo-gallery ul ',
							next: '#nomeri #next, #nomeri img', 
    						prev: '#nomeri #prev'  
						});
				});
		</script>
{% endblock header %}

				{% block content %}
				<div class="main full">
					<div id="top" class="full">
							{% placeholder top %}
					</div> 					
					<div id="left-col" class="left col">
						<div id="nomeri">
							{% placeholder nomeri %}
						</div>
						<div id="price">
							{% placeholder price %}
						</div>
						<div id="akcii">
							{% placeholder akcii %}
						</div>
						<div id="gallery">
							{% placeholder gallery %}
						</div>
						
					</div> 

					<div id="body-col" class="body right"> 
							<div class="pageContent">

								{% placeholder body %}
								
								<table width="100%">
									<tr>
										<td class="info-block">{% placeholder info1 %} </td>
										<td class="info-block">{% placeholder info2 %}</td>
									</tr>
									<tr>
										<td class="info-block">{% placeholder info3 %}</td>
										<td class="info-block">{% placeholder info4 %}</td>
									</tr>
								</table>

							</div>
					</div>
				</div>
				{% endblock %}