{% extends "base.html" %}
{% load cms_tags %}

				{% block content %}
				<div class="main full">
					<div id="top" class="full">
							{% placeholder top %}
					</div> 					
					<div id="left-col" class="left col"> 
							{% placeholder side-column %}
					</div> 

					<div id="body-col" class="body right"> 
							<div class="pageContent">

								{% placeholder body %}
								
								<table width="100%">
									<tr>
										<td class="info-block">{% placeholder info1 %} </td>
										<td class="info-block">{% placeholder info2 %}</td>
									</tr>
									<tr>
										<td class="info-block">{% placeholder info3 %}</td>
										<td class="info-block">{% placeholder info4 %}</td>
									</tr>
								</table>

							</div>
					</div>
				</div>
				{% endblock %}