<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<title>Готель Паланок</title> 
	<meta name="description" content=""/> 
	<meta name="keywords" content=""/> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<link href="/media/css/main.css" rel="stylesheet" type="text/css" /> 
	
		<link type="text/css" href="/media/css/pica.css" rel="stylesheet" /> 
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
		<script type="text/javascript" src="/media/js/pikachoose-min.js"></script> 
		<script language="javascript"> 
			$(document).ready(
				function (){
/*
									$(".pikachoose ul").PikaChoose({user_thumbs:true, show_prev_next:false});
				*/
					$(".pikachoose ul").PikaChoose({delay_caption:false, 
							auto_play:true,
							thumb_width: 90,
							thumb_height: 98,
						});
				});
		</script> 
 
	
</head> 
<body> 
 
<div id="wrapper"> 
	<!-- s:HEADER --> 
	<div id="header"> 
		<a id="logo" href="/" title="Готель Паланок">Готель Паланок</a> 

 
	</div> 
	
	<div id="menu"> 
		<ul>
			<li class="selected">
				<a href="/">Готель Паланок</a>
			</li>
			<li class="">
				<a href="/nomeri/">Номери</a>
			</li>
			<li class="">
				<a href="/kontakti/">Контакти</a>
			</li>
		</ul>
	</div> 
	<div id="languages">
		<a class="lang" id="en" href="/en/">en</a> 
		<a class="lang" id="ru" href="/ru/">ru</a> 
		<a class="lang" id="uk" href="/uk/" class="current">uk</a> 
		<a class="lang" id="hu" href="/hu/">hu</a> 
	</div>
	<div id="submenu"> 
	  <ul> 
		
 
	  </ul> 
	</div> 
 
	<div id="content"> 
		<div id="papirus-top"> 
			<div id="breadcrumb"> 
				<ul class="breadcrumb"> 
					
				</ul> 
				<h1>Готель Паланок</h1> 
 
			</div> 
			<div id="main-content"> 
				
					<div id="left-col" class="left col"> 
							
					</div> 
 
					<div id="body-col" class="body right"> 
							<h3>Title Готель Паланок</h3> 
							<div class="spacer10"></div> 
							<div class="pageContent"> 
								
<div class="photo-gallery"> 
	<div class="pikachoose"> 
		<ul>
        	
            	<li class="gallery-photo"> 
                	<img rel="/media/photologue/photos/cache/hotel-centr_display.jpg" src="/media/photologue/photos/cache/hotel-centr_display.jpg" alt="Готель Паланок фасад"/> 
                	<span>Готель Паланок фасад</span> 
	            </li> 
    	    
            	<li class="gallery-photo"> 
                	<img rel="/media/photologue/photos/cache/P5250682_display.JPG" src="/media/photologue/photos/cache/P5250682_display.JPG" alt="Фасад Літом"/> 
                	<span>Фасад Літом</span> 
	            </li> 
    	    
            	<li class="gallery-photo"> 
                	<img rel="/media/photologue/photos/cache/PB110423_display.JPG" src="/media/photologue/photos/cache/PB110423_display.JPG" alt="Фасад зліва"/> 
                	<span>Фасад зліва</span> 
	            </li> 
    	    
            	<li class="gallery-photo"> 
                	<img rel="/media/photologue/photos/cache/P1310428_display.JPG" src="/media/photologue/photos/cache/P1310428_display.JPG" alt="Фасад Зимою"/> 
                	<span>Фасад Зимою</span> 
	            </li> 
    	    
		</ul> 
	</div> 
</div> 
 
							</div> 
					</div> 
				
			</div> 
		</div> 
	</div> 
	<!-- e:MID CONTENT --> 
	<!-- s:FOOTER --> 
	<div id="footer"> 
		<a id="footer-logo" href="/" title="Hotel Palanok Mukachevo">Готель Паланок Мукачево</a> 
		<div id="footer-menu"> 
			<ul> 
 
<li class=" selected"> 
	<a href="/">Готель Паланок</a> 
    
</li> 
 
<li class=""> 
	<a href="/nomeri/">Номери</a> 
    
</li> 
 
<li class=""> 
	<a href="/kontakti/">Контакти</a> 
    
</li> 
</ul> 
		</div> 
 
		<div id="copyright">Copyright &copy; Готель Паланок. Розробка сайту <a id="sona" href="http://www.sona-studio.org.ua/" title="Sona web-Studio">Sona web-Studio</a></div> 
		
	</div> 
	<!-- e:FOOTER --> 
</div> 
<!-- e:WRAPPER --> 
</body> 
</html> 