{% extends "base.html" %}
{% load cms_tags %}

{% block header %}
{{ block.super }}
		<script language="javascript">
			$(document).ready(
				function (){
					Cufon.replace(".nomeri>a", {fontFamily: "mukachev"});
					
					// Gallery images with thumbnails
					$(".photo-gallery > ul").PikaChoose({delay_caption:false, 
							auto_play: true,
							thumb_width: 90,
							thumb_height: 98,
							show_captions: false,
							show_prev_next: false,
							slide_speed: 10000
						});
					$(".nomeri > a").each(function(index) {
							url = $(this).attr("href");
							$(this).next('div').children('a').attr("href", url);
  						});
			});
		</script>

		
{% endblock header %}

				{% block content %}
					<div id="top" class="full">
					<div class="nomeri single">
							{% placeholder top %}
					</div> 
					</div> 
				{% endblock %}