{% extends 'base.html' %}
{% load i18n cms_tags %}

{% block title %}{{ platej.title }}{% endblock %}

{% block content %}
<style type="text/css">
	#payment{padding: 0px 100px;}
	form fieldset { margin: 1em 25%; border-color: #7f5026;}
	form label { width: 100px; text-align: right; display:inline-block;	}
	form input[type="submit"]{ margin: 0.5em 130px; }
</style>
					<div id="payment">
						<h1>{% trans 'Оплата пластиковой картой' %}</h1>
						<br/>
						<center><h3>{% trans 'Платеж' %} {{ platej.title }} </h3></center>
						<br/>
						<p><b>{% trans 'Стоимость платежа' %}: {{ platej.amount }} {% trans 'грн' %} </b></p>
						<p>{% trans 'Валютный еквивалент' %}: {{ platej.amount2 }} {{ platej.get_PurchaseCurrency2_display }} <em>(значение может менятся в зависимости от курса и тарифов банка емитента карты)</em></p>
						
						<hr />
						
						{% blocktrans %}
						<p>Заполните поля ниже для подтверждения платежа.</p>
						<p>Посля нажатия кнопки <strong>Оплатить / Pay</strong> вы будете направлены на страницу оплаты.</p>
						<p><em>Помощь в оплате карточкй можно получить связавшись с администрацией отеля в разделе <a href="/ru/kontakty/">Контакты</a>.</em></p>
						{% endblocktrans %}
						
						<form action="." method="post">
						<fieldset>
							{{ form.as_p }}
							<input type="submit" value="{% trans 'Оплатить / Pay' %}" />
						</fieldset>
						</form>
					</div> 
{% endblock %}
